<p id="notice"><%= notice %></p>

<h1>Subitems</h1>

<table >
  <thead>
    <tr>
      <th>Name</th>
      <th>Subs usage</th>
      <th>Tracked quantity</th>
      <th>Notification</th>
      <th>Approval</th>
      <th>Subscription</th>
      <th>Feature</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subitems.each do |subitem| %>
      <tr>
        <td><%= subitem.name %></td>
        <td><%= subitem.subs_usage %></td>
        <td><%= subitem.tracked_quantity %></td>
        <td><%= subitem.notification %></td>
        <td><%= subitem.approval %></td>
        <td><%= subitem.subscription.name %></td>
        <td><%= subitem.feature.name %></td>
        <td><%= link_to 'Show', subitem %></td>
        <td><%= link_to 'Edit', edit_subitem_path(subitem) %></td>
        <td><%= link_to 'Destroy', subitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subitem', new_subitem_path %>
